<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
      <% if @mscore_classification.new_record? %>
        <h3>Configure MSCOA Classification</h3>
      <% else %>
        <h3><%= "Editing #{@mscore_classification.name}" %></h3>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col col-lg-10 col-lg-offset-1">
      <%= form_for(@mscore_classification) do |f| %>
  <% if @mscore_classification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mscore_classification.errors.count, "error") %> prohibited this mscore_classification from being saved:</h2>

      <ul>
      <% @mscore_classification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=> 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn col-lg-3 pull-right' %>
    <% if !@mscore_classification.new_record? %>
      <%= link_to "Delete",mscore_classification_path(@mscore_classification),method: :delete, data: {confirm: "Are you sure?"}, :class=>'btn col-lg-3 pull-right'%>
    <% end %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
