<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mscore_classification.name %>
</p>

<%= link_to 'Edit', edit_mscore_classification_path(@mscore_classification) %> |
<%= link_to 'Back', mscore_classifications_path %>
