<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @national_outcome.name %>
</p>

<%= link_to 'Edit', edit_national_outcome_path(@national_outcome) %> |
<%= link_to 'Back', national_outcomes_path %>
