*.rbc
capybara-*.html
.rspec
/public/system
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
*.log
*.swp
.bundle
.chef
.directory
/.envrc
.idea
/.rbenv-version
.rbx/
/.ruby-gemset
/.ruby-version
/.rvmrc
.sass-cache/
/.secret
/.vagrant
/.byebug_history
/Vagrantfile
/backups/*
/config/database.yml
/config/initializers/rack_attack.rb
/config/initializers/smtp_settings.rb
/config/initializers/relative_url.rb
/config/unicorn.rb
/config/secrets.yml
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/db/data.yml
/doc/code/*
/dump.rdb
/log/*.log*
/nohup.out
/public/assets/
/public/uploads.*
/public/uploads/
/shared/artifacts/
/rails_best_practices_output.html
/tags
/tmp/*
/vendor/bundle/*
/builds/*
/shared/*
