<h1>KEYSTONE Application</h1>

<p>Hi <%= @user.firstname %>,</p>

<p>
you're notified that your account has been unlocked! Contact your system administrator if you encounter any problem loging in to the system.
</p>
