<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provincial_strategic_outcome.name %>
</p>

<%= link_to 'Edit', edit_provincial_strategic_outcome_path(@provincial_strategic_outcome) %> |
<%= link_to 'Back', provincial_strategic_outcomes_path %>
