<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ndp_objective.name %>
</p>

<%= link_to 'Edit', edit_ndp_objective_path(@ndp_objective) %> |
<%= link_to 'Back', ndp_objectives_path %>
