<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3><%= "Editing #{@capital_project.project_name}" %></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <%= form_for(@capital_project) do |f| %>
                        <div class="field">
                            <%= f.label :ProjectName,"Project Name:" %>
                                <br>
                                <%= f.text_field :project_name,{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :departmental_sdbip_id,"Project Description:" %>
                                <br>
                                <%= f.select :departmental_sdbip_id,DepartmentalSdbip.all.collect{|u| [u.kpi_ref_number, u.id]},{},{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :FundingSource,"Funding Source:" %>
                                <br>
                                <%= f.text_field :funding_source,{class: "form-control"} %>
                        </div>

                        <div class="field">
                            <%= f.label :Subdepartment %>
                                <br>
                                <%= f.select :subdepartment_id,Subdepartment.all.collect{ |u| [u.name, u.id] },{},{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :MscoreClassification,"Mscore Classification:" %>
                                <br>
                                <%= f.select :mscore_classification_id,MscoreClassification.all.collect{ |u| [u.name, u.id] },{},{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :MunCPRef,"Municipal CP Ref.:" %>
                                <br>
                                <%= f.text_field :mun_cp_ref,{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :IDPNumber,"IDP Number:" %>
                                <br>
                                <%= f.text_field :idp_nummber,{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :VoteNumber,"Vote Number:" %>
                                <br>
                                <%= f.text_field :vote_number,{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :Area %>
                                <br>
                                <%= f.select :area_id,Area.all.collect{ |u| [u.name, u.id] },{},{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :Ward %>
                                <br>
                                <%= f.select :ward_id,Ward.all.collect{ |u| [u.name, u.id] },{},{class: "form-control"} %>
                        </div>
                        <div class="field">
                            <%= f.label :planned_start_date,"Planned Start Date:" %>
                                <br>
                                <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
                                        <%= f.text_field :planned_start_date,  class: "form-control" %>
                                            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>

                        </div>
                        <div class="field">
                            <%= f.label :planned_completion_date,"Planned Completion Date:" %>
                                <br>
                                <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
                                        <%= f.text_field :planned_completion_date,  class: "form-control" %>
                                            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                        </div>
                        <div class="field">
                            <%= f.label :actual_start_date,"Actual Start Date:" %>
                                <br>
                                <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
                                        <%= f.text_field :actual_start_date,  class: "form-control" %>
                                            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                        </div>
                        <div class="field">
                            <%= f.label :actual_completion_date,"Actual Completion Date:" %>
                                <br>
                                <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
                                        <%= f.text_field :actual_completion_date,  class: "form-control" %>
                                            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                        </div>

                        <div class="actions col-lg-">
                            <%= f.submit "Save", :class =>'btn col-lg-3 pull-right' %>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>

    </div>
</div>
