<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><%= " #{@capital_project.project_name } Details" %></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="table-responsive">
                        <table class="table table-striped" id="sdbips_table">
                            <tr>
                                <th>Ref</th>
                                <td>CP
                                    <%= @capital_project.id %>
                                </td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td>
                                    <%= @capital_project.subdepartment.department.name %>
                                </td>
                            </tr>
                            <tr>
                                <th>Subdepartment</th>
                                <td>
                                    <%= @capital_project.subdepartment.name %>
                                </td>
                            </tr>
                            <tr>
                                <th>Project Name</th>
                                <td>
                                    <%= @capital_project.project_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>Mun CP Ref Outcome</th>
                                <td>
                                    <%= @capital_project.mun_cp_ref %>
                                </td>
                            </tr>
                            <tr>
                                <th>Vote Number</th>
                                <td>
                                    <%= @capital_project.vote_number %>
                                </td>
                            </tr>
                            <tr>
                                <th>IDP Number</th>
                                <td>
                                    <%= @capital_project.idp_nummber %>
                                </td>
                            </tr>
                            <tr>
                                <th>Project Description</th>
                                <td>
                                    <%= @capital_project.departmental_sdbip.kpi_ref_number %>
                                </td>
                            </tr>
                            <tr>
                                <th>GFS Classification</th>
                                <td>
                                    <%= @capital_project.mscore_classification.name %>
                                </td>
                            </tr>

                            <tr>
                                <th>Funding Source</th>
                                <td>
                                    <%= @capital_project.funding_source %>
                                </td>
                            </tr>
                            <tr>
                                <th>Planned Start Date</th>
                                <td>
                                    <% if !@capital_project.planned_start_date.blank? %>
                                        <%= @capital_project.planned_start_date.strftime("%d %b %Y") %>
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>Planned Completion Date</th>
                                <td>
                                    <% if !@capital_project.planned_completion_date.blank? %>
                                        <%= @capital_project.planned_completion_date.strftime("%d %b %Y") %>
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>Actual Start Date</th>
                                <td>
                                    <% if !@capital_project.actual_start_date.blank? %>
                                        <%= @capital_project.actual_start_date.strftime("%d %b %Y") %>
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>Actual Completion Date</th>
                                <td>
                                    <% if !@capital_project.actual_completion_date.blank? %>
                                        <%= @capital_project.actual_completion_date.strftime("%d %b %Y") %>
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>Areas</th>
                                <td>
                                    <% if !@capital_project.area_id.blank? %>
                                        <%= @capital_project.area_name %>
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>Wards</th>
                                <td>
                                    <% if !@capital_project.ward_id.blank? %>
                                        <%= @capital_project.ward_name %>
                                            <% end %>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="panel-group" id="accordion">
                    <div class=" col col-lg-10 col-lg-offset-1">
                        <h5>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="click to view Capital Project results.">Results</a>
                        </h5>
                        <div id="collapseOne" class="collapse">
                            <%= render partial: 'results', :locals => {:capital_project => @capital_project} %>
                        </div>
                      
    <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" title="click to view Associated Departmental KPI details">Associated Departmental KPI</a>
    </h5>
                        <div id="collapseTwo" class="collapse">
                            <%= render partial: 'associated_kpi', :locals => {:capital_project => @capital_project,:time_periods => @time_periods} %>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-mini pull-right" type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
