<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3>Editing User Access</h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-lg-10 col-md-offset-1">
<%= form_for(@role) do |f| %>
<% if @role.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@role.errors.count, "error") %>.
    </div>
    <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :user_id, "Select User:" %>
<%= f.select :user_id, User.where(:id=>params[:id]).collect {|x| [x.firstname, x.id]}, {},class: "form-control" %>
<br/>

    <%= f.label :kpi_owner, class: "checkbox inline" do %>
		  <%= f.check_box :kpi_owner %>
      <span>KPI Admin</span>
    <% end %>

    <%= f.label :finance_admin, class: "checkbox inline" do %>
		  <%= f.check_box :finance_admin %>
      <span>Finance Admin</span>
    <% end %>
    <%= f.label :top_layer_administrator, class: "checkbox inline" do %>
      <%= f.check_box :top_layer_administrator %>
      <span>Top Layer Admin</span>
    <% end %>
    <%= f.label :audit_log_reporting, class: "checkbox inline" do %>
      <%= f.check_box :audit_log_reporting %>
      <span>Audit Log Reporting</span>
    <% end %>
    <%= f.label :assurance_provider, class: "checkbox inline" do %>
      <%= f.check_box :assurance_provider %>
      <span>Assurance Provider</span>
    <% end %>
    <%= f.label :secondary_time_period, class: "checkbox inline" do %>
      <%= f.check_box :secondary_time_period %>
      <span>Secondary Time Period</span>
    <% end %>
    <%= f.label :setup, class: "checkbox inline" do %>
      <%= f.check_box :setup %>
      <span>Setup</span>
    <% end %>

<div class="actions">
<%= f.submit "Save", :class =>'btn col-lg-3 pull-right' %>
</div>

<% end %>

          <div class = "modal-footer">

        </div>
    </div>
</div>
</div>
</div>
</div>
