<div class="tab-pane" id="password_status">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h4>Avatar</h4></th>
        <th><h4>Ref</h4></th>
        <th><h4>First Name</h4></th>
        <th><h4>Last Name</h4></th>
        <th><h4>Username</h4></th>
        <th><h4>Date Added</h4></th>
        <th><h4>Last Login</h4></th>
        <th><h4>Actions</h4></th>
      </tr>
    </thead>
    <tbody>



  </tbody>
    </table>
</div>
</div>
