<div class="tab-pane" id="security_settings">
  <button class="btn btn-primary btn-midi" data-toggle="modal" data-target="#set_maximum_attempts" >Set Maximum Attempts</button>
</div>
<!-- Modal -->
<div class="modal fade" id="set_maximum_attempts" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <%= form_tag(:controller => "users", :action=>"set_maximum_attempts") do %>
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Set Maximum Login Attempts</h4>
</div>
<div class="modal-body">
<%= label_tag :Maximum_Login_Attempts,"Maximum Login Attempts:" %>
<%= text_field_tag :attempts,nil,{:class=>"form-control"} %>
</div>
<div class="modal-footer">

<%= submit_tag "Save Changes",:class => "btn btn-primary btn-midi" %>

</div>
<% end %>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
