<div class="tab-pane active fade in" id="user_access">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>System Admin</th>
        <th>KPI Admin</th>
        <th>Finance Admin</th>
        <th>Top Layer Admin</th>
        <th>Assurance Provider</th>
        <th>Secondary Time Period</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
      <tr>
        <td><%= role.user.firstname %>&nbsp;<%= role.user.surname %></td>
        <td><% if role.user.admin? %>Yes<% else %>No<% end %></td>
        <td><% if role.kpi_owner? %>Yes<% else %>No<% end %></td>
        <td><% if role.finance_admin? %>Yes<% else %>No<% end %></td>
        <td><% if role.municipal_manager? %>Yes<% else %>No<% end %></td>
        <td><% if role.internal_auditor? || role.auditor_general? %>Yes<% else %>No<% end %></td>
        <td><% if role.departmental_administrator? || role.subdepartmental_administrator? %>Yes<% else %>No<% end %></td>
        <td><%= link_to edit_user_role_path(role),remote: true,'data-target' => "#user-access-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to Edit user details" do %>
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Role
          <% end %>
          <div id="user-access-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

          </div>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- table-responsive -->
<%= will_paginate @roles %>
</div>
