
  <section class="media col col-lg-8 col-lg-offset-2">
    <div class="media-body">
<%= form_for(@user) do |f| %>
  <h3>Set Account Password</h3>
  <hr>
    <fieldset id="systeminfo">
      <br/>
      <section class="row">
        <label class="col col-lg-4 control-label" for="password">Password</label>
        <div class="controls col col-lg-8">
           <%= f.password_field :password, class: 'form-control',:required=>true %>

        </div><!-- controls -->
      </section><!-- row -->
      <section class="row">
        <label class="col col-lg-4 control-label" for="confirmpassword">Confirm Password</label>
        <div class="controls col col-lg-8">
           <%= f.password_field :password_confirmation, class: 'form-control',:required=>true %>
        </div><!-- controls -->
      </section><!-- row -->
    </fieldset>
    <section class="row">
      <div class="col-lg-">
        <div class="col-lg-2 pull-right">
          <%= f.submit "Save",class: 'btn pull-right'%>
        </div>
    </div>
    </section><!-- row -->
 <% end %>
</div><!-- media-body -->
</section><!-- media -->
