<div class="tab-pane active fade in" id="master-setup">
  <section class="media">
	  <div class="media-body">
			<article>
				<div class="tabbable tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#add_locations" data-toggle="tab">Create</a></li>
						<li><a href="#manage_locations" data-toggle="tab">Manage</a></li>
					</ul><!-- nav nav-tabs -->
				</div><!-- tabbable tabs -->

				<section class="tab-content">
			    <%= render 'add_locations' %>
			    <%= render 'manage_locations' %>
				</section><!-- tab-content -->

			</article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div>
