<p id="notice"><%= notice %></p>

<p>
  <strong>Municipality:</strong>
  <%= @master_setup.municipality %>
</p>

<%= link_to 'Edit', edit_master_setup_path(@master_setup) %> |
<%= link_to 'Back', master_setups_path %>
