<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @strategic_objective.name %>
</p>

<%= link_to 'Edit', edit_strategic_objective_path(@strategic_objective) %> |
<%= link_to 'Back', strategic_objectives_path %>
