
  <div class="col-lg-">
    <fieldset>

      <%= f.label :subdepartment_name, "Subdepartment Name:" %>
      <%= f.text_field :subdepartment_name, :class => "form-control",:autocomplete=>"off" %>

      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove Subdepartment", '#', class: "btn remove_fields" %> |

    </fieldset>
  </div>
