<% provide(:title, "Edit Department") %>
<script>
	$(function () {
		//highlight the current nav
		$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
	}); //jQuery is loaded
</script>
<div>
	<h2>
		Edit Department
	</h2>
	<div class="row">
		<div class="col col-lg-12">
			<%= render 'form' %>
		</div>
	</div>
</div>
