<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reporting_category.name %>
</p>

<%= link_to 'Edit', edit_reporting_category_path(@reporting_category) %> |
<%= link_to 'Back', reporting_categories_path %>
