<% provide(:title, "Introduction") %>
<%= render 'layouts/municipality' %>
<div id="introduction">
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <p>
        <strong>KEYSTONE</strong>&nbsp;is an online performance management system that provides Municipalities
        with a secure web-based platform for the day-to-day management of operational
        processes and data storage on the cloud.
      </p>
      <p>
        Timely and accurate, this tool reduces
        administrative headaches on the stakeholders and ensure that all parties involved
        are accountable for their actions.
      </p>
    </div>
    <div class="col col-md-6 col-md-offset-3">
      <%= link_to "Get Started", dashboard_path, class: "btn pull-right" %>
    </div>
  </div>
</div>
