<% provide(:title, "Introduction") %>
<div id="introduction">
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <h1>MPMS</h1>
      <h4>Municipal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Performance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Management&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        System</h4>
      <p>
        MPMS is an online performance management system that provides Municipalities
        with a secure web-based platform for the day-to-day management of operational
        processes and data storage on the cloud.
      </p>
      <p>
        Timely and accurate, this tool reduces
        administrative headaches on the stakeholders and ensure that all parties involved
        are accountable for their actions.
      </p>
    </div>
    <div class="col col-md-6 col-md-offset-3">
      <%= link_to "Get Started", dashboard_path, class: "btn btn-midi" %>
    </div>
  </div>
</div>
