<% provide(:title, 'Edit SDBIP Time Period') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>
<div>
  <h2>
    Edit SDBIP Time Period
  </h2>
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <%= render 'sdbip_time_periods/form' %>
    </div>
  </div>
</div>
