<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @predetermined_objective.name %>
</p>

<%= link_to 'Edit', edit_predetermined_objective_path(@predetermined_objective) %> |
<%= link_to 'Back', predetermined_objectives_path %>
