<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
      <% if @mtas_indicator.new_record? %>
        <h3>Configure Mtas Indicator</h3>
      <% else %>
        <h3><%= "Editing #{@mtas_indicator.name}" %>/h3>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col col-lg-10  col-lg-10 col-lg-offset-1">
  <%= form_for(@mtas_indicator) do |f| %>
  <% if @mtas_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mtas_indicator.errors.count, "error") %> prohibited this mtas_indicator from being saved:</h2>

      <ul>
      <% @mtas_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Mtas Indicator:" %><br>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn col-lg-3 pull-right' %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
