<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mtas_indicator.name %>
</p>

<%= link_to 'Edit', edit_mtas_indicator_path(@mtas_indicator) %> |
<%= link_to 'Back', mtas_indicators_path %>
