<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
      <% if @kpi_type.new_record? %>
        <h3>Configure KPI Type</h3>
      <% else %>
        <h3><%= "Editing #{@kpi_type.name}" %></h3>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col col-lg-10 col-lg-offset-1">
          <%= form_for(@kpi_type) do |f| %>
  <% if @kpi_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpi_type.errors.count, "error") %> prohibited this kpi_type from being saved:</h2>

      <ul>
      <% @kpi_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"KPI Type:" %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save",class:'btn col-lg-3 pull-right'%>
    <% if !@kpi_type.new_record? %>
      <%= link_to "Delete",kpi_type_path(@kpi_type),method: :delete, data: {confirm: "Are you sure?"}, :class=>'btn col-lg-3 pull-right'%>
    <% end %>
  </div>
<% end %>
</div>
</div>
</div>
<div>
</div>
