<div class="tab-pane fade" id="audit_logs">
    <div class="row">
        <div class="col col-lg-12">
            <div class="tabbable tabs third-level-navs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#perform-audit" data-toggle="tab">Assurance</a>
                    </li>
                    <li>
                        <a href="#generate-audit-report" data-toggle="tab">Audit Log Report</a>
                    </li>
                </ul>
                <!-- nav nav-tabs -->
            </div>
            <!-- tabbable tabs -->
            <section class="tab-content">
                <%= render partial: 'perform_audits', :locals=>{:periods => @periods, :departmental_sdbips => @departmental_sdbips} %>
                <%= render 'audits' %>
            </section>
        </div>
    </div>
</div>
