<div class="tab-pane fade" id="audit_logs">
<div class="row">
  <div class="panel panel-default col-lg-12">
    <br/>
      <h3>Generate Audit Log Report</h3>
  <hr/>

      <%= render 'audits' %>


  </div>
</div>
</div>
