<div class="tab-pane fade" id="charts_per_department">
<div class="row">
  <div class="col-lg-12">
    <br/>
      <h3>YTD Dashboard</h3>
      <br/>
      <table class="table table-hover table-striped">
        <tr>
          <th><h4>Departments</h4></th>
          <th><h4>Departmental SDBIP</h4></th>
          <th><h4>Top Layer SDBIP</h4></th>
          <th><h4>Capital Projects</h4></th>
          <th><h4>Monthly Cashflow</h4></th>

          <th colspan="3"></th>
        </tr>
      <% Department.all.each do |dept| %>
        <tr>
          <td><%= dept.name %></td>
          <td><%= link_to "View",departmental_sdbip_progress_path(dept),remote: true,'data-target' => "#ytd-modal", 'data-toggle' => 'modal', :title=>"Click to view YTD" ,class:'btn' %>
              <div id="ytd-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

              </div>
          </td>
          <td>

          <button type="view" value="View" class="btn disabled">View</button>
          </td>
          <td><button type="view" value="View" class="btn disabled">View</button></td>
          <td><button type="view" value="View" class="btn disabled">View</button></td>

        </tr>
        <% end %>
    </table>
    </div>

  </div>
</div>
