<div class="tab-pane active fade in" id="departmental_sdbip_report">
  <section class="media">
	  <div class="media-body">

      <article>

      	<div class="tabbable tabs">
      		<ul class="nav nav-tabs">
      			<li class="active"><a href="#generate_reports" data-toggle="tab">Generate Reports</a></li>
      			<li><a href="#generate_graphs" data-toggle="tab">Generate Graphs</a></li>
      		</ul><!-- nav nav-tabs -->
      	</div><!-- tabbable tabs -->

      	<section class="tab-content">

          <%= render 'generate_reports' %>
          <%= render 'generate_graphs' %>

      	</section><!-- tab-content -->

      </article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div><!-- friday -->
