<!-- Modal -->
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Graph Preview</h4>
            </div>
            <div class="modal-body">
  <br/>
  <% if @graph_value == 0 && !@graph_value.blank? %>
  <div class="row">
    <div class=" col col-lg-12">
        <h3>Mkhondo Local Municipality's KPIs</h3>
        <div class="row">
          <div class="col col-lg-6">
            <%= pie_chart @departmental_sdbips.group(:performance_standard).count,height: "300px",library: {pieSliceText:'value-and-percentage', colors: @colours} %>
          </div>
          <div class="col col-lg-6">
            <%= column_chart @departmental_sdbips.group(:performance_standard).count,height: "300px", colors: @colours %>
          </div>
        </div>
    </div>
  </div>
        <div class="row">
          <div class="col col-lg-12 col-lg-offset-0">
            <br/>
            <table class="table table-striped table-responsive table-hover table-bordered">
              <tr>
              <th colspan="1" rowspan="2"></th>
              <th colspan="1" rowspan="2">Mkhondo Local Municipality</th>
              <th colspan="<%= @departments.count %>" scope="colgroup">Department</th>
              </tr>
              <tr>
                <% @departments.each do |department| %>
                <th><h5><%= department.name %></h5></th>
                <% end %>
              </tr>

              <tr>
                <td><span class="glyphicon glyphicon-stop babypink"></span>KPI Not Yet Measured</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                  <!--populating the columns and rows with data  -->
                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)
                    </td>
                  <% end %>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-stop red"></span>KPI Not Met</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Not Met").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Not Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>

                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Not Met", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Not Met", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% end %>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-stop orange"></span>KPI Almost Met</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Almost Met").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Almost Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>

                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Almost Met", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Almost Met", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% end %>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-stop limegreen"></span>KPI Met</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Met").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Met", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Met", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% end %>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-stop darkgreen"></span>KPI Well Met</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Well Met").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Well Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Well Met", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Well Met", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% end %>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-stop darkblue"></span>KPI Extremely Well Met</td>
                <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met").count %>&nbsp;
                  (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% @departments.each do |department_value| %>
                    <td><%= @departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met", :department_id => department_value.id ).count %>&nbsp;
                      (<%= number_to_percentage(@departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met", :department_id => department_value.id).count.to_f * 100 / (@departmental_sdbips.where(:department_id => department_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                  <% end %>
              </tr>
              <tr>
                <td>Total:</td>
                <td><%= @departmental_sdbips.count %>
                  (<%= number_to_percentage(@departmental_sdbips.count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)
                </td>
                <% @departments.each do |department_sdbip_count| %>
                <td>
                  <%= department_sdbip_count.departmental_sdbips.where(department_id: department_sdbip_count.id ).count %>
                  (<%= number_to_percentage(department_sdbip_count.departmental_sdbips.where(department_id: department_sdbip_count.id).count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)
                </td>
                <% end %>
              </tr>
            </table>
        </div>
        </div>
  <% if @include_sub_graphs == "true" %>
  <div class="row">
    <div class="col col-lg-12">
        <h3>Mkhondo Local Municipality Departments' KPIs</h3>
        <% @departments.each do |department| %>
        <% @chart_data = @departmental_sdbips.where(:department_id=>department.id).order('departmental_sdbips.performance_standard asc') %>
        <% if !@chart_data.blank? %>
        <div class="well well-lg">
          <h4 align="center"><%= department.name %></h4>
        <div class="row">
          <div class="col col-lg-6">
            <%= pie_chart @chart_data.group(:performance_standard).count,height: "300px",library: {pieSliceText:'value-and-percentage'}, colors: @colours %>
          </div>
          <div class="col col-lg-6">
            <%= column_chart @chart_data.group(:performance_standard).count,height: "300px", stacked: 'percent', colors: @colours %>

          </div>
        </div>
      </div>
        <% end %>
        <% end %>
      </div>
  <% end %>
<% elsif @graph_value > 0 && !@graph_value.blank? %>
<div class="row">
  <div class=" col col-lg-12">
      <h3><%= "#{@department.name }"%></h3>
      <% @chart_data = @department.departmental_sdbips.order('departmental_sdbips.performance_standard asc')#.where(:subdepartment_id=>subdepartment.id) %>
      <% if !@chart_data.blank? %>
      <div class="row">
        <div class="col col-lg-6">
          <%= pie_chart @chart_data.group(:performance_standard).count,width: "500px",height: "300px", stacked: 'percent', colors: @colours %>
        </div>
        <div class="col col-lg-6">
          <%= column_chart @chart_data.group(:performance_standard).count,width: "500px",height: "300px", stacked: 'percent', colors: @colours %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
      <div class="row">
        <div class="col col-lg-12 col-lg-offset-0">
          <table class="table table-striped table-responsive table-hover table-bordered">
            <tr>
            <th colspan="1" rowspan="2"></th>
            <th colspan="1" rowspan="2"><%= @department.name %></th>
            <th colspan="<%= @department.subdepartments.count %>" scope="colgroup">Sub-Department</th>
            </tr>
            <tr>
              <% @department.subdepartments.each do |subdepartment| %>
              <th><h5><%= subdepartment.subdepartment_name %></h5></th>
              <% end %>
            </tr>

            <tr>
              <td><span class="glyphicon glyphicon-stop babypink"></span>KPI Not Yet Measured</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured").count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>%)</td>
                <!--populating the columns and rows with data  -->
                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured", :subdepartment_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Not Yet Measured", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)
                  </td>
                <% end %>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-stop red"></span>KPI Not Met</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Not Met").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Not Met").count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>

                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Not Met", :department_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Not Met", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                <% end %>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-stop orange"></span>KPI Almost Met</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Almost Met").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Almost Met").count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>

                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Almost Met", :subdepartment_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Almost Met", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                <% end %>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-stop limegreen"></span>KPI Met</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Met").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Met").count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Met", :subdepartment_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Met", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                <% end %>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-stop darkgreen"></span>KPI Well Met</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Well Met").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Well Met").count.to_f * 100 / (@departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Well Met", :department_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Well Met", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                <% end %>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-stop darkblue"></span>KPI Extremely Well Met</td>
              <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met").count %>&nbsp;
                (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met").count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)</td>
                <% @department.subdepartments.each do |subdepartment_value| %>
                  <td><%= @department.departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met", :subdepartment_id => subdepartment_value.id ).count %>&nbsp;
                    (<%= number_to_percentage(@department.departmental_sdbips.where(:performance_standard=> "KPI Extremely Well Met", :subdepartment_id => subdepartment_value.id).count.to_f * 100 / (@department.departmental_sdbips.where(:subdepartment_id => subdepartment_value.id ).count.nonzero? || 1 ),precision: 2) %>)</td>
                <% end %>
            </tr>
            <tr>
              <td>Total:</td>
              <td><%= @department.departmental_sdbips.count %>
                (<%= number_to_percentage(@department.departmental_sdbips.count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)
              </td>
              <% @department.subdepartments.each do |department_sdbip_count| %>
              <td><%= department_sdbip_count.departmental_sdbips.where(subdepartment_id: department_sdbip_count.id ).count %>
                (<%= number_to_percentage(department_sdbip_count.departmental_sdbips.where(subdepartment_id: department_sdbip_count.id).count.to_f * 100 / (@department.departmental_sdbips.count.nonzero? || 1 ),precision: 2) %>)
              </td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
<% if @include_sub_graphs == "true" %>
<div class="row">
      <h3><%= @department.name %>&nbsp;KPIs per Sub-department</h3>
      <div class=" col col-lg-12">
      <% @department.subdepartments.each do |subdepartment| %>
      <% @chart_data = @department.departmental_sdbips.where(:subdepartment_id=>subdepartment.id) %>
      <% if !@chart_data.blank? %>
      <div class="well well-lg">
        <h4 align="center"><%= subdepartment.subdepartment_name %></h4>
      <div class="row">
        <div class=" col col-lg-12">
        <div class="col col-lg-6">
          <%= pie_chart @chart_data.group(:performance_standard).count,height: "300px",library: {pieSliceText:'value-and-percentage'}, colors: @colours %>
        </div>
        <div class="col col-lg-6">
          <%= column_chart @chart_data.group(:performance_standard).count,height: "300px", stacked: 'percent', colors: @colours %>

        </div>
      </div>
      </div>
    </div>
      <% end %>
      <% end %>
    </div>

  </div>
<% end %>
<% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
</div><!-- /.modal -->
