<% if @departmental_sdbip.assurances.any? %>
  <% @departmental_sdbip.kpi_results.each do |kpi_result| %>
    <% @departmental_sdbip.assurances.where(kpi_result_id: kpi_result.id).each do |assurance_result| %>
      <% if assurance_result.signed_off? %>
          <span class="glyphicon glyphicon-ok-circle limegreen"></span>
      <% elsif !assurance_result.signed_off? %>
          <span class="glyphicon glyphicon-remove-sign red"></span>
      <% else %>
          <span class="glyphicon glyphicon-minus-sign orange"></span>
      <% end %>
    <% end %>
  <% end %>
  <% else %>
    <span class="glyphicon glyphicon-minus-sign orange"></span>

<% end %>
