
<table class="table table-responsive table-striped">
  <tr>
    <th>Target</th>
    <td></td>
  </tr>
  <tr>
    <th>Actual</th>
    <td></td>
  </tr>
  <tr>
    <th>Result</th>
    <td></td>
  </tr>
  <tr>
    <th>Performance Comment(s)</th>
    <td></td>
  </tr>
  <tr>
    <th>Corrective Measure(s)</th>
    <td></td>
  </tr>
</table>
