<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Assurance Review:&nbsp;KPI&nbsp;D<%= @departmental_sdbip.id %>&nbsp;for&nbsp;<%= Date.today.strftime("%B %Y") %></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col col-lg-10 col-lg-offset-1">
                    <%= form_for(@departmental_sdbip) do |f| %>
                        <%= render partial: 'kpi_details', :locals => {:departmental_sdbip => @departmental_sdbip } %>
                            <% if @departmental_sdbip.kpi_results.any? %>
                                <% @departmental_sdbip.kpi_results.each do |result| %>
                                    <% @result = result %>
                                            <%= render partial: 'audited_results', :departmental_sdbip => @departmental_sdbip %>
                                                <%= f.fields_for :assurances do |assurance_for_form| %>

                                                    <%= render 'assurance_fields', f: assurance_for_form %>

                                                        <% end %>
                                                            <% end %>


                                                                    <br/>
                                                                    <%= f.submit "Save", class: 'btn col-lg-3 pull-right'%>
                                                                    <% end %>
                                                                        <% end %>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <div class="row">
        <div class="col col-lg-10 col-lg-offset-1">
            <h5>Assurance Review History</h5>
                <% if @departmental_sdbip.assurances.any? %>
                    <%= render 'assurance_review' %>
                <% else %>
                    <p>No Assurance Review associated with KPI.</p>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var selected_value = <%= current_user.id %>;
        var kpi_result_value = <%= @result.id if !@result.blank? %>;
        $("#assurance-user").val(selected_value);
        $("#kpi-result-id").val(kpi_result_value);
    });
</script>
