<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3>Assurance</h3>
</div>
<div class="modal-body">
<div class="row">
  <div class="col col-lg-10 col-lg-offset-1">
        <%= form_for(@departmental_sdbip) do |f| %>
            <%= render 'kpi_details' %>
            <% if @departmental_sdbip.kpi_results.any? %>
            <% @departmental_sdbip.kpi_results.each do |result| %>
            <% if !result.assurance.blank? && result.assurance.where.not(:kpi_result_id) %>
                <%= render 'audited_results' %>
            <% end %>
            <% end %>
            <%= f.fields_for :assurances do |assurance_for_form| %>

                <%= render 'assurance_fields', f: assurance_for_form %>

          <% end %>

            <br/>
            <%= f.submit "Save", class: 'btn col-lg-3 pull-right'%>
          <% end %>
        <% end %>
      </div>
      </div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
  var selected_value = <%= current_user.id %>;
  $("#assurance-user").val(selected_value);
});

</script>
