<div id="grpChkBox" class="collapse"><hr/>
											<div class="row">
								<div class="col-lg-12">
								<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="ref" name="ref" value="">&nbsp;&nbsp;&nbsp;&nbsp;Ref</label>
								</div>
							<div class="checkbox  col-lg-2">
								<label><input type="checkbox" id="department" name="department" value="">&nbsp;&nbsp;&nbsp;&nbsp;Department</label>
							</div>
							<div class="checkbox col-lg-2"><label><input type="checkbox" id="sub-department" name="sub-department" value="">&nbsp;&nbsp;&nbsp;&nbsp;Sub-Department</label> </div>
							<div class="checkbox col-lg-2"> <label><input type="checkbox" id="ndp-objectives" name="kpi" value="">&nbsp;&nbsp;&nbsp;&nbsp;KPI</label> </div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="kpi-ref" name="kpi-ref" value="">&nbsp;&nbsp;&nbsp;&nbsp;KPI Ref</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="Pre-determined-Objectives" name="predetermined-objectives" value="" >&nbsp;&nbsp;&nbsp;&nbsp;Predetermined Objectives</label>
							</div>
							</div>
							</div>
								<div class="row">
								<div class="col-lg-12">
								<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="kpi-owner-checkbox" name="kpi-owner" value="">&nbsp;&nbsp;&nbsp;&nbsp;KPI Owner</label>
								</div>
							<div class="checkbox  col-lg-2">
								<label><input type="checkbox" id="unit-of-measurement" name="unit-of-measurement" value="">&nbsp;&nbsp;&nbsp;&nbsp;Unit of Measurement</label>
							</div>
							<div class="checkbox col-lg-2"><label><input type="checkbox" id="source-of-evidence" name="source-of-evidence" value="">&nbsp;&nbsp;&nbsp;&nbsp;Source of Evidence</label> </div>
							<div class="checkbox col-lg-2"> <label><input type="checkbox" id="ndp-objectives" name="ndp-objectives" value="">&nbsp;&nbsp;&nbsp;&nbsp;NDP Objectives</label> </div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="capital-project" name="capital-project" value="">&nbsp;&nbsp;&nbsp;&nbsp;Capital Project</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="reporting-category" name="reporting-category" value="">&nbsp;&nbsp;&nbsp;&nbsp;Reporting Category</label>
							</div>
							</div>
							</div>
							<div class="row">
							<div class="col-lg-12">
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="strategic-objectives" name="strategic-objectives" value="">&nbsp;&nbsp;&nbsp;&nbsp;Strategic Objectives</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="mscore-classification" name="mscore-classification" value="">&nbsp;&nbsp;&nbsp;&nbsp;M-score Classification</label>
							</div>

							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="baseline" name="baseline" value="">&nbsp;&nbsp;&nbsp;&nbsp;Baseline</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="risk-rating" name="risk-rating" value="">&nbsp;&nbsp;&nbsp;&nbsp;Risk Rating</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="idp-ref" name="idp-ref" value="">&nbsp;&nbsp;&nbsp;&nbsp;IDP Ref</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="kpi-concept" name="kpi-concept" value="">&nbsp;&nbsp;&nbsp;&nbsp;KPI Concept</label>
							</div>
							</div>
							</div>
							<div class="row">
							<div class="col-lg-12">
								<div class="checkbox col-lg-2">
									<label><input type="checkbox" id="annual-target" name="annual-target" value="">&nbsp;&nbsp;&nbsp;&nbsp;Annual Target</label>
								</div>
								<div class="checkbox col-lg-2">
									<label><input type="checkbox" id="revised-target" name="revised-target" value="">&nbsp;&nbsp;&nbsp;&nbsp;Revised Target</label>
								</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="first-quarter-target" name="targets-actual-results" value="">&nbsp;&nbsp;&nbsp;&nbsp;1st Quarter</label>
							</div>
							<div class="checkbox col-lg-2">
									<label><input type="checkbox" id="national-outcome" name="national-outcome" value="">&nbsp;&nbsp;&nbsp;&nbsp;National Outcome</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="impact" name="impact" value="">&nbsp;&nbsp;&nbsp;&nbsp;Impact</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="provincial-strategic-outcome" name="provincial-strategic-outcome" value="">&nbsp;&nbsp;&nbsp;&nbsp;Provincial Strategic Outcome</label>
							</div>

							</div>
					</div>

							<div class="row">
							<div class="col-lg-12">
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="past-year-performance" name="past-year-performance" value="">&nbsp;&nbsp;&nbsp;&nbsp;Past Year performance</label>
							</div>

							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="top-layer-ref" name="top-layer-ref" value="">&nbsp;&nbsp;&nbsp;&nbsp;Top layer KPI Ref</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="kpi-calculation-type" name="kpi-calculation-type" value="">&nbsp;&nbsp;&nbsp;&nbsp;KPI Calculation Type</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="performance-standard" name="performance-standard" value="">&nbsp,&nbsp;&nbsp;&nbsp;Performance Standard</label>
							</div>

							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="area" name="area" value="">&nbsp;&nbsp;&nbsp;&nbsp;Area</label>
							</div>

							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="ward" name="ward" value="">&nbsp;&nbsp;&nbsp;&nbsp;Ward</label>
							</div>
						</div>
					</div>

							<div class="row">
							<div class="col-lg-12">
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" id="created-date" name="created-date" value="">&nbsp;&nbsp;&nbsp;&nbsp;Created Date</label>
							</div>
							<div class="checkbox col-lg-2">
								<label><input type="checkbox" name="updated-date" id="updated-date" value="">&nbsp;&nbsp;&nbsp;&nbsp;Updated Date</label>

							</div>
							<div class="checkbox col-lg-2">

							</div>
							<div class="checkbox col-lg-2">

							</div>

							<div class="checkbox col-lg-2">

							</div>

							<div class="checkbox col-lg-2">

							</div>

					</div>
			</div>

							</div>
