<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3><%= "Editing #{@departmental_sdbip.kpi}" %></h3>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-lg-10 col-md-offset-1">
<%= form_for @departmental_sdbip do |f| %>

      <%= f.label :kpi, "KPI" %><br>
      <% if current_user.admin? %>
      <%= f.text_area :kpi, :class => "form-control has-error col-md-5", :readonly=> false  %>
      <% else %>
  		<%= f.text_area :kpi, :class => "form-control has-error col-md-5", :readonly=> true  %>
      <% end %>
		<%= f.label :department_id %><br>
    <% if current_user.admin? %>
    <%= f.select :department_id, Department.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Department"}, :id=>"selected_department_update", class: "form-control" %>
    <% else %>
    <%= f.select :department_id, Department.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Department"}, :id=>"selected_department_update",:readonly=>true, class: "form-control" %>
    <% end %>
    <%= f.hidden_field :department_name, id: "current_department_update" %>

    <%= f.label :subdepartment_id, "Subdepartment" %><br>
    <% if current_user.admin? %>
    <%= f.select :subdepartment_id, Subdepartment.all.collect {|x| [x.subdepartment_name, x.id]}, {:include_blank => "Select Subdepartment"}, :id=>"selected_subdepartment_update", class: "form-control" %>
    <% else %>
    <%= f.select :subdepartment_id, Subdepartment.all.collect {|x| [x.subdepartment_name, x.id]}, {:include_blank => "Select Subdepartment"}, :id=>"selected_subdepartment_update", :readonly => true, class: "form-control" %>
    <% end %>
    <%= f.hidden_field :subdepartment_name, id: "current_subdepartment_update" %>

		<%= f.label :kpi_ref_number, "KPI Ref Number" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :kpi_ref_number, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :kpi_ref_number, :class => "form-control has-error col-md-5", readonly: true %>
    <% end %>
		<%= f.label :predetermined_objective_id, "Predetermined Objectives" %><br>
		<%= f.select :predetermined_objective_id, PredeterminedObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Predetermined Objective"}, class: "form-control" %>

		<%= f.label :kpi_owner_id, "KPI Owner" %><br>
		<%= f.select :kpi_owner_id, KpiOwner.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Owner"}, class: "form-control" %>

		<%= f.label :unit_of_measurement, "Unit of Measurement" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :unit_of_measurement, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_area :unit_of_measurement, :class => "form-control has-error col-md-5",readonly: true %>
    <% end %>
		<%= f.label :mscore_classification_id, "M Score Classification" %><br>
		<%= f.select :mscore_classification_id, MscoreClassification.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select M Score Classification"}, class: "form-control" %>

		<%= f.label :idp_ref, "IDP Ref" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :idp_ref, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :idp_ref, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :national_outcome_id, "National Outcome" %><br>
		<%= f.select :national_outcome_id, NationalOutcome.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select National Outcome"}, class: "form-control" %>

		<%= f.label :strategic_objective_id, "Strategic Objectives" %><br>
		<%= f.select :strategic_objective_id, StrategicObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Strategic Objective"}, class: "form-control" %>

		<%= f.label :source_of_evidence, "Source of Evidence" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :source_of_evidence, :class => "form-control has-error col-md-5" %>
    <% else %>
    	<%= f.text_field :source_of_evidence, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :baseline %><br>
    <% if current_user.admin? %>
		<%= f.text_field :baseline, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :baseline, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :budget %><br>
    <% if current_user.admin? %>
		<%= f.text_field :budget, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :budget, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :annual_target, "Annual Target" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :annual_target, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :annual_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :revised_target, "Revised Target" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :revised_target, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :revised_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

    <%= f.label :first_quarter_target, "First Quarter Target" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :first_quarter_target, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :first_quarter_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

    <%= f.label :first_quarter_actual, "First Quarter Actual" %><br>
    <%= f.text_field :first_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :first_quarter_poe, "First Quarter POE" %><br>
    <%= f.file_field :first_quarter_poe, :class => "form-control has-error col-md-5" %>

    <%= f.label :second_quarter_target, "Second Quarter Target" %><br>
    <% if current_user.admin? %>
    <%= f.text_field :second_quarter_target, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :second_quarter_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>
    <%= f.label :second_quarter_actual, "Second Quarter Actual" %><br>
    <%= f.text_field :second_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :second_quarter_poe, "Second Quarter POE" %><br>
    <%= f.file_field :second_quarter_poe, :class => "form-control has-error col-md-5" %>


    <%= f.label :third_quarter_target, "Third Quarter Target" %><br>
    <% if current_user.admin? %>
    <%= f.text_field :third_quarter_target, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :third_quarter_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

    <%= f.label :third_quarter_actual, "Third Quarter Actual" %><br>
    <%= f.text_field :third_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :third_quarter_poe, "Third Quarter POE" %><br>
    <%= f.file_field :third_quarter_poe, :class => "form-control has-error col-md-5" %>


    <%= f.label :fourth_quarter_target, "Fourth Quarter Target" %><br>
    <% if current_user.admin? %>
    <%= f.text_field :fourth_quarter_target, :class => "form-control has-error col-md-5" %>
    <% else %>
      <%= f.text_field :fourth_quarter_target, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>
    <%= f.label :fourth_quarter_actual, "Fourth Quarter Actual" %><br>
    <%= f.text_field :fourth_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :fourth_quarter_poe, "Fourth Quarter POE" %><br>
    <%= f.file_field :fourth_quarter_poe, :class => "form-control has-error col-md-5" %>

		<%= f.label :kpa_id, " KPA" %><br>
		<%= f.select :kpa_id, Kpa.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select National KPA"}, class: "form-control" %>


		<%= f.label :ndp_objective_id, "NDP Objectives" %><br>
		<%= f.select :ndp_objective_id, NdpObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select NDP Objective"}, class: "form-control" %>

		<%= f.label :kpi_concept_id, "KPI Concept" %><br>
		<%= f.select :kpi_concept_id, KpiConcept.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Concept"}, class: "form-control" %>

		<%= f.label :kpi_type_id, "KPI Type" %><br>
		<%= f.select :kpi_type_id, KpiType.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Type"}, class: "form-control" %>

		<%= f.label :impact %><br>
    <% if current_user.admin? %>
		<%= f.text_field :impact, :class => "form-control has-error col-md-5" %>
    <% else %>
    	<%= f.text_field :impact, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :provincial_strategic_outcome_id, "Provincial Strategic Outcome" %><br>
		<%= f.select :provincial_strategic_outcome_id, ProvincialStrategicOutcome.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Provincial Strategic Outcome"}, class: "form-control" %>

		<%= f.label :ward_id, "Ward" %><br>
		<%= f.select :ward_id, Ward.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Ward"}, class: "form-control" %>

		<%= f.label :area_id, "Area" %><br>
		<%= f.select :area_id, Area.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Area"}, class: "form-control" %>
		<%= f.label :performance_standard, "Performance Standard" %><br>
    <%= f.select :performance_standard, options_for_select(["KPI Not Met", "KPI Almost Met", "KPI Met", "KPI Well Met", "KPI Extremely Well Met"]),
                                          {}, {:class => "form-control"} %>

		<%= f.label :past_year_performance, "Past Year Performance" %><br>
    <% if current_user.admin? %>
		<%= f.text_area :past_year_performance, :class => "form-control has-error col-md-5" %>
    <% else %>
    	<%= f.text_area :past_year_performance, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :reporting_category_id, "Reporting Category" %><br>
		<%= f.select :reporting_category_id, ReportingCategory.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Reporting Category"}, class: "form-control" %>

    <%= f.label :risk_rating_id, "Risk Rating" %><br>
		<%= f.select :risk_rating_id, RiskRating.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Rating"}, class: "form-control" %>

		<%= f.label :top_layer_kpi_ref, "Top Layer KPI Ref" %><br>
    <% if current_user.admin? %>
		<%= f.text_field :top_layer_kpi_ref, :class => "form-control has-error col-md-5" %>
    <% else %>
    <%= f.text_field :top_layer_kpi_ref, :class => "form-control has-error col-md-5", :readonly => true %>
    <% end %>

		<%= f.label :kpi_calculation_type_id, "KPI Calculation Type" %><br>
		<%= f.select :kpi_calculation_type_id, KpiCalculationType.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Calculation Type"}, class: "form-control" %>
    <%= f.label :kpi_target_type_id, "KPI Target Type" %><br>
		<%= f.select :kpi_target_type_id, KpiTargetType.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Target Type"}, class: "form-control" %>

    <div class="row">
    <div class="actions col-lg-5">
      <% if current_user.admin? %>
      <%= link_to @departmental_sdbip, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-mini" do %>
        <span class="glyphicon glyphicon-trash"></span>Delete
      <% end %>&nbsp;|&nbsp;
      <% end %><%= f.submit "Save", id: "submit_form", class: 'btn btn-mini pull-right'%>
    </div>
    </div>
    <% end %>
</div>
</div>
</div>
<div class="modal-footer">

</div>

</div>
</div>
