<!-- Modal -->

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Graph Preview</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <br/>
                <h3>Mkhondo Municipality LM</h3>
                <div class="panel panel-default col-md-12">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <%= pie_chart @departmental_sdbips.group(:performance_standard).count, width: "80%", height: "300px", colors: ["orange","darkblue", "limegreen", "red", "darkgreen"] %>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default col-lg-12">
                    <div class="panel-heading">
                        <h3>Total Performance Standards by Department</h3>
                    </div>
                    <div class="panel-body">
                        <%= column_chart @departmental_sdbips.group(:performance_standard, :department_name).count, height: "400px", stacked: true, colors: ["orange","darkblue", "limegreen", "red", "darkgreen"]%>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>


            <div class="row">
                <div class="panel panel-default col-lg-12">
                    <div class="panel-heading">
                        <h3>Summary of Results</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">


                            <tr>
                                <th>Summary of Results</th>
                                <th>All KPIs</th>
                                <th>All KPIs Percentages</th>
                                <th>Total KPIs Measured</th>
                                <th>Measured KPIs Percentages</th>
                                <th colspan="3"></th>
                            </tr>



                            <tr>
                                <td>KPI Not Yet Measured</td>
                                <td>
                                    <%= @kpi_not_yet_measured.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_not_yet_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>KPI Not Met</td>
                                <td>
                                    <%= @kpi_not_met.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_not_met.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td>
                                    <%= (@kpi_not_met.count) %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>KPI Almost Met</td>
                                <td>
                                    <%= @kpi_almost_met.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_almost_met.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td>
                                    <%= (@kpi_almost_met.count) %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>KPI Met</td>
                                <td>
                                    <%= @kpi_met.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_met.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td>
                                    <%= (@kpi_met.count) %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>KPI Well Met</td>
                                <td>
                                    <%= @kpi_well_met.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_well_met.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td>
                                    <%= (@kpi_well_met.count) %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>KPI Extremely Well Met</td>
                                <td>
                                    <%= @kpi_extremely_well_met.count %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_extremely_well_met.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                                <td>
                                    <%= (@kpi_extremely_well_met.count) %>
                                </td>
                                <td>
                                    <% if @get_all_kpis.count > 0 %>
                                        <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                            <% end %>
                                </td>
                            </tr>
                            <td>Total KPIs</td>
                            <td>
                                <%= @get_all_kpis.count %>
                            </td>
                            <td>
                                <% if @get_all_kpis.count > 0 %>
                                    <%= (@get_all_kpis.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                        <% end %>
                            </td>
                            <td>
                                <%= @kpi_measured.count %>
                            </td>
                            <td>
                                <% if @get_all_kpis.count > 0 %>
                                    <%= (@kpi_measured.count * 100)/(@get_all_kpis.count.nonzero? || 1) %> %
                                        <% end %>
                            </td>
                            </tr>

                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
