<% if @departmental_sdbip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@departmental_sdbip.errors.count, "error") %> prohibited this Departmental SDBIP from being saved:</h2>

    <ul>
    <% @departmental_sdbip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% else %>
  $(".departmental-sdbip-edit").html("<%= j(render 'index') %>")
  $("#departmental-sdbip-modal").modal("hide")
<% end %>
