<section class="container">
	<footer class="row">
		<nav class="col-lg-12">
      <ul class="breadcrumb">
				<li><a href="#">Contact</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li>Copyright &copy; <a href="http://www.armsaudit.co.za">ARMS Audit</a> 2016. All Rights Reserved.</li>
			</ul><!-- breadcrumb -->
		</nav><!-- nav -->
	</footer><!-- footer -->
</section><!-- container -->
