<article>
  <% if !$municipality_info.blank? %>
  <h1>
    <span>
      <%= image_tag($municipality_info.logo.url(:medium),alt:'municipality-logo') %>
    </span><%= $municipality_info.municipality %>
  </h1>
  <% end %>
</article>
