<article>
  <% if !$municipality_info.blank? %>
  <h1>
    <span>
      <%= image_tag url_for(:controller => "master_setups",:action => "show_image",  :id=>$municipality_info.id) %>
    </span><%= $municipality_info.municipality %>
  </h1>
  <% end %>
</article>
