<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
      <% if @kpa.new_record? %>
        <h3>Configure KPA</h3>
      <% else %>
        <h3><%= "Editing #{@kpa.name}" %></h3>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col col-lg-10 col-lg-offset-1">
  <%= form_for(@kpa) do |f| %>
  <% if @kpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpa.errors.count, "error") %> prohibited this kpa from being saved:</h2>

      <ul>
      <% @kpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"KPA:" %><br>
    <%= f.text_field :name,:class=>'form-control', :autocomplete=>'off' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn col-lg-3 pull-right' %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
